body{background: rgb(14,12,12);box-sizing:border-box;}
ul {padding:0;list-style:inside;}
iframe{max-width: 100%}
//input{border: 2px solid grey}

a{
	color: rgb(200,33,172);
	&:hover{
		color: rgb(200,200,200);
	}	
}

//header{height: 4em;}

.container{
	box-sizing:inherit;
	background: rgb(241,241,255);
	color:rgb(12,12,12);
	margin: 0 auto;
	padding: 0 1em 2em;
	width:98%;
	@media(min-width:42em){
	width:94%;
	}
	@media(min-width:92em){
		max-width: 1600px;
	}
}


