.flex.content{
	flex-direction:column;
	@media(min-width: 50em){
		flex-direction:row;	
	}
	h2{margin:0;}	
	}
.hide{display:none;visibility:hidden}
.summary {
	flex-basis: 12%;
	margin: 0 1em 0 0.6em;
	text-align:right;
	h2{text-align:left;}
	h3.trigger{
	&:after{content:'\00B6';padding-left:0.6em;font-size: 0.88em;}
	}
	.trigger{
	&:hover{cursor:pointer;color:hotpink;}
}}
div#summary-output{
	flex-basis: 42%;
	border: 1px solid grey;
	border-radius: 1em;
	padding: 0 0.4em 0 0.6em;
	margin-left: -0.62em;
}
